<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kaelfraga.pedal2play" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pedal-to-Play</name>
    <description>
        Pedal-to-Play é um software multiplataforma com a pretensão de motivar os usuários 
		a praticarem a atividade de ciclismo, usando técnicas de gamification.
    </description>
    <author email="kaelfraga@hotmail.com" href="https://github.com/kaelvofraga/Pedal-to-Play">
        Graduando em Tecnologia de Análise e Desenvolvimento de Sistemas 
		do IFRS - Câmpus Canoas (RS-Brasil).
    </author>
    <content src="index.html" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="cordova.plugins.diagnostic" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
    <access origin="http://*.kaelfraga.com" />
	<access origin="http://php-pedal2play.rhcloud.com" />
	<access origin="https://*.googleapis.com/*" />
	<access origin="https://*.gstatic.com/*" />
    <plugin name="cordova-plugin-whitelist" version="1.1.0" />
	<plugin name="cordova-plugin-geolocation" version="0.3.12"/>
	<plugin name="cordova-plugin-network-information" version="1.0.1"/>
	<plugin name="cordova.plugins.diagnostic" version="1.1.0"/> 
    <plugin name="cordova-plugin-splashscreen" version="2.1.0"/> 
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*://*.kaelfraga.com/*" />
	<allow-navigation href="*://php-pedal2play.rhcloud.com/*" />
	<allow-navigation href="*://*.googleapis.com/*" />
	<allow-navigation href="*://*.gstatic.com/*" />
    <platform name="android">
        <allow-intent href="market:*" />
           
        <splash src="www/res/screen/android/drawable-land-hdpi/screen.png" density="land-hdpi" />
        <splash src="www/res/screen/android/drawable-land-ldpi/screen.png" density="land-ldpi" />
        <splash src="www/res/screen/android/drawable-land-mdpi/screen.png" density="land-mdpi" />
        <splash src="www/res/screen/android/drawable-land-xhdpi/screen.png" density="land-xhdpi" /> 
        
        <splash src="www/res/screen/android/drawable-port-hdpi/screen.png" density="port-hdpi" />
        <splash src="www/res/screen/android/drawable-port-ldpi/screen.png" density="port-ldpi" />
        <splash src="www/res/screen/android/drawable-port-mdpi/screen.png" density="port-mdpi" />
        <splash src="www/res/screen/android/drawable-port-xhdpi/screen.png" density="port-xhdpi" />  
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
