<div id="avatarDiv" class="row container-fluid">
	<div class="avatar-visualization col-sm-8 col-md-8 panel panel-default"
		 ng-swipe-left="onPreviousOptionClick()" ng-swipe-right="onNextOptionClick()">
		<div class="buttons">
			<button class="btn btn-default" ng-click="share()">
				{{string.button.SHARE}}
			</button>
			<button class="btn btn-lg circle-button color-picker 
					colorpicker-element pull-right" ng-focus="pickColor()">
				<i class="fa fa-eyedropper"></i>
			</button>
		</div>
		<div class="alert alert-info" role="alert" ng-show="isAvatarLoading()">
			{{string.avatar.LOADING}}<i class="fa fa-spinner fa-pulse"></i>
		</div>
		<div class="alert alert-danger" role="alert" ng-show="!supportsSVG">
			{{string.avatar.ERROR_SVG}}
		</div>
		<div class="alert alert-danger" role="alert" ng-show="avatarImages === null">
			{{string.avatar.ERROR_LOAD_IMAGES}}
		</div>
		<div class="alert alert-danger" role="alert" 
			 ng-show="shownErrorMsg" ng-click="stopShowingErrorMessage()">
			{{errorMsg}}
			<button><i class="fa fa-times"></i></button>
		</div>
		<svg class="avatar center-block" width="600" height="512" viewBox="0 0 600 512.00001"></svg>	
		<ul class="pager">
			<li class="previous">
				<a ng-click="onPreviousOptionClick()">
					<i class="fa fa-arrow-left"></i>
				</a>
			</li>
			<li>
				<button class="btn btn-lg btn-default" ng-click="save()" 
						ng-disabled="loading || isAvatarLoading()">
					{{loading ? string.SAVING : string.button.SAVE}}
					<i class="fa fa-spinner fa-pulse" ng-show="loading"></i>
				</button>
			</li>
			<li class="next">
				<a ng-click="onNextOptionClick()">
					<i class="fa fa-arrow-right"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="avatar-pieces col-sm-4 col-md-4 panel panel-default">
		<ul class="nav nav-tabs">
			<li role="presentation" 
				ng-class="{'active': iconActived === icon.reference}" 
				ng-repeat="icon in avatarImages.icons">
				<a ng-click="onPieceClick(icon.reference)" >
					<img ng-src="{{getPath(icon.reference)}}" alt="{{icon.reference}}" title="{{icon.reference}}"/>
				</a>
			</li>
		</ul>
	</div>
</div>
<gender-modal></gender-modal>
<unsave-modal></unsave-modal>