<div class="row container-fluid avatarDiv">
	<div class="avatar-visualization col-xs-12 col-sm-8 col-md-8 panel panel-default"
		 ng-swipe-left="onPreviousOptionClick()" ng-swipe-right="onNextOptionClick()">
		
		<div class="buttons">
			<button class="btn btn-default" ng-click="share()" ng-if="::false">
				{{string.button.SHARE}}
			</button>
					
			<button class="btn btn-lg circle-button color-picker colorpicker-element pull-right" 
					ng-focus="pickColor()" title="{{string.button.COLOR_PICKER}}">
				<i class="fa fa-eyedropper"></i>
			</button>
		</div>
		
		<div class="alert alert-info" role="alert" ng-if="isAvatarLoading()">
			<span class="sr-only">Info:</span> 
			{{string.avatar.LOADING}}<i class="fa fa-spinner fa-pulse"></i>
		</div>
		
		<div class="alert alert-danger" role="alert" ng-if="!supportsSVG">
			<span class="sr-only">Error:</span> 
			{{string.avatar.ERROR_SVG}}
		</div>
		
		<div class="alert alert-danger" role="alert" ng-if="avatarImages === null">
			<span class="sr-only">Error:</span> 
			{{string.avatar.ERROR_LOAD_IMAGES}}
		</div>
		
		<error-message></error-message>
		
		<svg class="avatar center-block" width="600" height="512" viewBox="0 0 600 512.00001"></svg>	
		
		<ul class="pager">
			<li class="previous">
				<a ng-click="onPreviousOptionClick()">
					<i class="fa fa-arrow-left"></i>
				</a>
			</li>
			<li>
				<button class="btn btn-lg btn-default" ng-click="save()" 
						ng-disabled="loading || isAvatarLoading()">
					{{loading ? string.SAVING : string.button.SAVE}}
					<i class="fa fa-spinner fa-pulse" ng-show="loading"></i>
				</button>
			</li>
			<li class="next">
				<a ng-click="onNextOptionClick()">
					<i class="fa fa-arrow-right"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="avatar-pieces col-xs-12 col-sm-4 col-md-4 panel panel-default">
		<ul class="nav nav-tabs">
			<li role="presentation"
				ng-class="{'active': iconActived === icon.reference}" 
				ng-repeat="icon in avatarImages.icons"
				ng-if="hasMoreThanOnOption(icon.reference)">
				<a ng-click="onPieceClick(icon.reference)">
					<img ng-src="{{getPath(icon.reference)}}" alt="{{icon.reference}}" 
					     title="{{icon.reference}}"/>
				</a>
			</li>
		</ul>
	</div>
</div>
<gender-modal></gender-modal>
<unsave-modal></unsave-modal>