<div id="records" class="row container-fluid">
	<div class="path-map col-md-6 panel panel-primary">
		<ui-gmap-google-map center="map.center" zoom="map.zoom">
			<ui-gmap-polyline ng-if="map.path" path="map.path" stroke="map.stroke">
			</ui-gmap-polyline>
		</ui-gmap-google-map>
		<div class="values">
			<div class="col-xs-4 col-md-4">
				{{string.tracking.TIME}}
				<span>{{ selectedActivity.time | date:'HH:mm:ss':'GMT'}}</span>
			</div>
			<div class="col-xs-4 col-md-4 middle-value">
				{{string.tracking.SPEED}}
				<span>{{ selectedActivity.speed | number:2 }}</span>
			</div>
			<div class="col-xs-4 col-md-4">
				{{string.tracking.DISTANCE}}
				<span>{{ getDistanceInKm() | number:2 }}</span>
			</div>
		</div>
	</div>
	<div class="actvities col-md-6 panel panel-primary">
		<div class="panel-heading">{{string.records.PANEL_TITLE}}</div>
		<div class="panel-body">
			<div class="alert alert-info" role="alert" ng-if="loading">
				<span class="sr-only">Info:</span> {{string.records.LOADING}}
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
			<div class="alert alert-danger" role="alert" ng-if="errorMsg.hasMessage()" 
				 ng-click="errorMsg.stopShowing()">
				<span class="sr-only">Error:</span> {{errorMsg.getMessage()}}
				<button><i class="fa fa-times"></i></button>
			</div>			
			<div class="activity-list list-group" ng-if="activities">
				<button type="button" class="list-group-item" 
						ng-repeat="activity in activities" 
						ng-click="onClickActivity(activity)">
					<span class="badge">
						{{getMilliseconds(activity.timestamp) | date:'dd/MM/yyyy HH:mm:ss'}}
					</span> 
					{{activity.description}}
				</button>
			</div>
		</div>
	</div>
</div>