<div id="saveSessionModal" class="modal" role="dialog" aria-labelledby="saveSessionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveSessionModalTitle">{{}}</h4>
      </div>
      <div class="modal-body">
        {{}}
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal">
          {{}}
        </button>
        <button type="button" class="btn btn btn-danger pull-left" ng-click=" ">
          {{}}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->